<!-- Modal -->

<div class="modal fade" id="specificationCreatevaluePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Specification Attribute Value</h4>

            </div>

            @using (Ajax.BeginForm("_ValueCreatePopup", "SpecificationAttribute", FormMethod.Post, new AjaxOptions { OnSuccess = "OnSuccess" },new { Id="form-specification_Value" }))
            {
                @Html.Partial("_ValueCreateEdit")

            }
        </div>


    </div>


</div>
