
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "SpecificationAttribute", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="content-header">

        <h1 class="pull-left">Add a new specification attribute</h1>
        <a href="/Management/SpecificationAttribute/List"><i class="fa fa-undo">Back to specifaction list</i></a>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>  Save
            </button>
            <button type="submit" name="savecontiune" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>  Save and Continue Edit
            </button>

        </div>
    </div>

    @Html.Partial("_CreateEditSpecifaction")
}