@model eCommerce.Dto.Category.CategorySearchViewModel
@{
    ViewBag.Title = "List";
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Manage Categories
    </h1>
    <div class="pull-right">
        <a href="/Management/Category/Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Add new
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
                Export
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/Admin/Category/ExportXml">
                        <i class="fa fa-file-code-o"></i>
                        Export to XML
                    </a>
                </li>
                <li>
                    <a href="/Management/Category/ExportXlsx">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            Import
        </button>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                @using (Ajax.BeginForm("List", "Category", FormMethod.Post, new AjaxOptions { OnSuccess = "OnSuccess" }))
                {

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper">
                                            <label class="control-label" for="SearchCategoryName" title="">Category name</label>
                                            <div class="ico-help" title="A category name."></div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control text-box single-line" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="submit" id="search-categories" class="btn btn-primary btn-search"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
            <div class="panel panel-default">
                <div id="categoryListId">
                    @Html.Partial("_CategoryList", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function OnSuccess(data) {
            $("#categoryListId").html(data);
        }
        function OnBegin() {
            $("#wait").css("display", "block");
        }
        function OnComplete() {
            $("#wait").css("display", "none");
        }
        function CategoryDelete(id) {

            var _categoryId = id;
            console.log("categoryId" + _categoryId);
            if (_categoryId > 0) {
                var result = confirm("Silmek istediğinizden eminmisiniz");
                if (result) {

                    $.ajax({
                        type: "Post",
                        url: "/Management/Category/Delete",
                        data: { 'Id': _categoryId },
                        success: function (data) {

                            window.location.assign("/Management/Category/List");

                        },
                        beforeSend: function () {
                            $("#wait").css("display", "block");
                        },
                        complate: function () {
                            $("#wait").css("display", "none");
                        },
                        error: function () {
                            alert("Silme işleminde bir hata gerçekleşti");
                        }


                    })

                }
            }

        }
    </script>

}