<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Management/Home"><i class="fa fa-circle-o"></i> Dashboard</a></li>
                  
                </ul>
            </li>         
          
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Catalog</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Management/Product/List"><i class="fa fa-dot-circle-o"></i> Products</a></li>
                    <li><a href="/Management/Category/List"><i class="fa fa-dot-circle-o"></i> Categories</a></li>
                    <li><a href="/Management/Brand/List"><i class="fa fa-dot-circle-o"></i> Brand</a></li>
                    <li><a href="/Management/ProductReview/List"><i class="fa fa-dot-circle-o"></i> Product Reviews</a></li>
                    <li><a href="/Management/ProductTag/List"><i class="fa fa-dot-circle-o"></i> Product Tags</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dot-circle-o"></i>
                            <span>Attributes</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu" style="display: none;">
                            <li>
                                <a href="/Management/ProductAttribute/List" class="menu-item-link">

                                    <i class="fa fa-genderless"></i>

                                    <span class="menu-item-title">Product Attributes</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Management/SpecificationAttribute/List" class="menu-item-link">

                                    <i class="fa fa-genderless"></i>

                                    <span class="menu-item-title">Specification Attributes</span>
                                </a>
                            </li>
                          
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Sales</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Management/Order/List"><i class="fa fa-dot-circle-o"></i> Order</a></li>                
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>Customers</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Management/Customer/List"><i class="fa fa-circle-o"></i> Customers</a></li>
                    <li><a href="/Management/CustomerRole/List"><i class="fa fa-circle-o"></i> Customers Roles</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tags"></i> <span>Promotions</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Management/Discount/List"><i class="fa fa-circle-o"></i> Discounts</a></li>
                    <li><a href="/Management/Campaning/List"><i class="fa fa-circle-o"></i> Campanings</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
